<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wfk.process.dao.sql.service.TApplicationVersionMapper" >
  <resultMap id="BaseResultMap" type="wfk.process.dao.sql.entity.TApplicationVersion" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="version_code" property="versionCode" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="content_file" property="contentFile" jdbcType="VARCHAR" />
    <result column="client_type" property="clientType" jdbcType="INTEGER" />
    <result column="android_apk_path" property="androidApkPath" jdbcType="VARCHAR" />
    <result column="ios_ipa_path" property="iosIpaPath" jdbcType="VARCHAR" />
    <result column="project_code_path" property="projectCodePath" jdbcType="VARCHAR" />
    <result column="app_local_path" property="appLocalPath" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="application_id" property="applicationId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, version, version_code, description, content_file, client_type, android_apk_path, 
    ios_ipa_path, project_code_path, app_local_path, status, application_id, create_time, 
    modify_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_application_version
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_application_version
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="wfk.process.dao.sql.entity.TApplicationVersion" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_application_version (version, version_code, description, 
      content_file, client_type, android_apk_path, 
      ios_ipa_path, project_code_path, app_local_path, 
      status, application_id, create_time, 
      modify_time)
    values (#{version,jdbcType=VARCHAR}, #{versionCode,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, 
      #{contentFile,jdbcType=VARCHAR}, #{clientType,jdbcType=INTEGER}, #{androidApkPath,jdbcType=VARCHAR}, 
      #{iosIpaPath,jdbcType=VARCHAR}, #{projectCodePath,jdbcType=VARCHAR}, #{appLocalPath,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{applicationId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="wfk.process.dao.sql.entity.TApplicationVersion" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_application_version
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="version != null" >
        version,
      </if>
      <if test="versionCode != null" >
        version_code,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="contentFile != null" >
        content_file,
      </if>
      <if test="clientType != null" >
        client_type,
      </if>
      <if test="androidApkPath != null" >
        android_apk_path,
      </if>
      <if test="iosIpaPath != null" >
        ios_ipa_path,
      </if>
      <if test="projectCodePath != null" >
        project_code_path,
      </if>
      <if test="appLocalPath != null" >
        app_local_path,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="applicationId != null" >
        application_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="version != null" >
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="versionCode != null" >
        #{versionCode,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="contentFile != null" >
        #{contentFile,jdbcType=VARCHAR},
      </if>
      <if test="clientType != null" >
        #{clientType,jdbcType=INTEGER},
      </if>
      <if test="androidApkPath != null" >
        #{androidApkPath,jdbcType=VARCHAR},
      </if>
      <if test="iosIpaPath != null" >
        #{iosIpaPath,jdbcType=VARCHAR},
      </if>
      <if test="projectCodePath != null" >
        #{projectCodePath,jdbcType=VARCHAR},
      </if>
      <if test="appLocalPath != null" >
        #{appLocalPath,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="applicationId != null" >
        #{applicationId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="wfk.process.dao.sql.entity.TApplicationVersion" >
    update t_application_version
    <set >
      <if test="version != null" >
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="versionCode != null" >
        version_code = #{versionCode,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="contentFile != null" >
        content_file = #{contentFile,jdbcType=VARCHAR},
      </if>
      <if test="clientType != null" >
        client_type = #{clientType,jdbcType=INTEGER},
      </if>
      <if test="androidApkPath != null" >
        android_apk_path = #{androidApkPath,jdbcType=VARCHAR},
      </if>
      <if test="iosIpaPath != null" >
        ios_ipa_path = #{iosIpaPath,jdbcType=VARCHAR},
      </if>
      <if test="projectCodePath != null" >
        project_code_path = #{projectCodePath,jdbcType=VARCHAR},
      </if>
      <if test="appLocalPath != null" >
        app_local_path = #{appLocalPath,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="applicationId != null" >
        application_id = #{applicationId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="wfk.process.dao.sql.entity.TApplicationVersion" >
    update t_application_version
    set version = #{version,jdbcType=VARCHAR},
      version_code = #{versionCode,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      content_file = #{contentFile,jdbcType=VARCHAR},
      client_type = #{clientType,jdbcType=INTEGER},
      android_apk_path = #{androidApkPath,jdbcType=VARCHAR},
      ios_ipa_path = #{iosIpaPath,jdbcType=VARCHAR},
      project_code_path = #{projectCodePath,jdbcType=VARCHAR},
      app_local_path = #{appLocalPath,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      application_id = #{applicationId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>