<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wfk.process.dao.sql.service.TApplicationCapacitysRelationMapper" >
  <resultMap id="BaseResultMap" type="wfk.process.dao.sql.entity.TApplicationCapacitysRelation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="capacitys_id" property="capacitysId" jdbcType="INTEGER" />
    <result column="application_id" property="applicationId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, capacitys_id, application_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_application_capacitys_relation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_application_capacitys_relation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="wfk.process.dao.sql.entity.TApplicationCapacitysRelation" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_application_capacitys_relation (capacitys_id, application_id)
    values (#{capacitysId,jdbcType=INTEGER}, #{applicationId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="wfk.process.dao.sql.entity.TApplicationCapacitysRelation" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_application_capacitys_relation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="capacitysId != null" >
        capacitys_id,
      </if>
      <if test="applicationId != null" >
        application_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="capacitysId != null" >
        #{capacitysId,jdbcType=INTEGER},
      </if>
      <if test="applicationId != null" >
        #{applicationId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="wfk.process.dao.sql.entity.TApplicationCapacitysRelation" >
    update t_application_capacitys_relation
    <set >
      <if test="capacitysId != null" >
        capacitys_id = #{capacitysId,jdbcType=INTEGER},
      </if>
      <if test="applicationId != null" >
        application_id = #{applicationId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="wfk.process.dao.sql.entity.TApplicationCapacitysRelation" >
    update t_application_capacitys_relation
    set capacitys_id = #{capacitysId,jdbcType=INTEGER},
      application_id = #{applicationId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>