<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wfk.process.dao.sql.service.TDisplayTypeMapper" >
  <resultMap id="BaseResultMap" type="wfk.process.dao.sql.entity.TDisplayType" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="component_type" property="componentType" jdbcType="VARCHAR" />
    <result column="display_name" property="displayName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, component_type, display_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_display_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_display_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="wfk.process.dao.sql.entity.TDisplayType" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_display_type (component_type, display_name)
    values (#{componentType,jdbcType=VARCHAR}, #{displayName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="wfk.process.dao.sql.entity.TDisplayType" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_display_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="componentType != null" >
        component_type,
      </if>
      <if test="displayName != null" >
        display_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="componentType != null" >
        #{componentType,jdbcType=VARCHAR},
      </if>
      <if test="displayName != null" >
        #{displayName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="wfk.process.dao.sql.entity.TDisplayType" >
    update t_display_type
    <set >
      <if test="componentType != null" >
        component_type = #{componentType,jdbcType=VARCHAR},
      </if>
      <if test="displayName != null" >
        display_name = #{displayName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="wfk.process.dao.sql.entity.TDisplayType" >
    update t_display_type
    set component_type = #{componentType,jdbcType=VARCHAR},
      display_name = #{displayName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>