<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wfk.process.dao.sql.service.TProducttypeCapacitysRelationMapper" >
  <resultMap id="BaseResultMap" type="wfk.process.dao.sql.entity.TProducttypeCapacitysRelation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="productType_id" property="producttypeId" jdbcType="INTEGER" />
    <result column="capacitys_id" property="capacitysId" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, productType_id, capacitys_id, state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_producttype_capacitys_relation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_producttype_capacitys_relation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="wfk.process.dao.sql.entity.TProducttypeCapacitysRelation" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_producttype_capacitys_relation (productType_id, capacitys_id, state
      )
    values (#{producttypeId,jdbcType=INTEGER}, #{capacitysId,jdbcType=INTEGER}, #{state,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="wfk.process.dao.sql.entity.TProducttypeCapacitysRelation" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_producttype_capacitys_relation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="producttypeId != null" >
        productType_id,
      </if>
      <if test="capacitysId != null" >
        capacitys_id,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="producttypeId != null" >
        #{producttypeId,jdbcType=INTEGER},
      </if>
      <if test="capacitysId != null" >
        #{capacitysId,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="wfk.process.dao.sql.entity.TProducttypeCapacitysRelation" >
    update t_producttype_capacitys_relation
    <set >
      <if test="producttypeId != null" >
        productType_id = #{producttypeId,jdbcType=INTEGER},
      </if>
      <if test="capacitysId != null" >
        capacitys_id = #{capacitysId,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="wfk.process.dao.sql.entity.TProducttypeCapacitysRelation" >
    update t_producttype_capacitys_relation
    set productType_id = #{producttypeId,jdbcType=INTEGER},
      capacitys_id = #{capacitysId,jdbcType=INTEGER},
      state = #{state,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>