<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wfk.process.dao.sql.service.TRequestCmdMapper" >
  <resultMap id="BaseResultMap" type="wfk.process.dao.sql.entity.TRequestCmd" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="capacitys_id" property="capacitysId" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="orderNo" property="orderno" jdbcType="INTEGER" />
    <result column="directivity" property="directivity" jdbcType="INTEGER" />
    <result column="reqCount" property="reqcount" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, capacitys_id, code, orderNo, directivity, reqCount, state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_request_cmd
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_request_cmd
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="wfk.process.dao.sql.entity.TRequestCmd" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_request_cmd (capacitys_id, code, orderNo, 
      directivity, reqCount, state
      )
    values (#{capacitysId,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{orderno,jdbcType=INTEGER}, 
      #{directivity,jdbcType=INTEGER}, #{reqcount,jdbcType=INTEGER}, #{state,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="wfk.process.dao.sql.entity.TRequestCmd" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_request_cmd
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="capacitysId != null" >
        capacitys_id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="orderno != null" >
        orderNo,
      </if>
      <if test="directivity != null" >
        directivity,
      </if>
      <if test="reqcount != null" >
        reqCount,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="capacitysId != null" >
        #{capacitysId,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="orderno != null" >
        #{orderno,jdbcType=INTEGER},
      </if>
      <if test="directivity != null" >
        #{directivity,jdbcType=INTEGER},
      </if>
      <if test="reqcount != null" >
        #{reqcount,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="wfk.process.dao.sql.entity.TRequestCmd" >
    update t_request_cmd
    <set >
      <if test="capacitysId != null" >
        capacitys_id = #{capacitysId,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="orderno != null" >
        orderNo = #{orderno,jdbcType=INTEGER},
      </if>
      <if test="directivity != null" >
        directivity = #{directivity,jdbcType=INTEGER},
      </if>
      <if test="reqcount != null" >
        reqCount = #{reqcount,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="wfk.process.dao.sql.entity.TRequestCmd" >
    update t_request_cmd
    set capacitys_id = #{capacitysId,jdbcType=INTEGER},
      code = #{code,jdbcType=VARCHAR},
      orderNo = #{orderno,jdbcType=INTEGER},
      directivity = #{directivity,jdbcType=INTEGER},
      reqCount = #{reqcount,jdbcType=INTEGER},
      state = #{state,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>