<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wfk.process.dao.sql.service.WFKProductMapper">
  <resultMap id="BaseResultMap" type="wfk.process.dao.sql.entity.WFKProduct">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_name_en" jdbcType="VARCHAR" property="productNameEn" />
    <result column="stock_id" jdbcType="INTEGER" property="stockId" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="quality" jdbcType="VARCHAR" property="quality" />
    <result column="quality_en" jdbcType="VARCHAR" property="qualityEn" />
    <result column="general_grade" jdbcType="VARCHAR" property="generalGrade" />
    <result column="zbd_rate" jdbcType="VARCHAR" property="zbdRate" />
    <result column="rma_policy" jdbcType="VARCHAR" property="rmaPolicy" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="moq" jdbcType="INTEGER" property="moq" />
    <result column="sample" jdbcType="VARCHAR" property="sample" />
    <result column="sample_en" jdbcType="VARCHAR" property="sampleEn" />
    <result column="stock_location" jdbcType="VARCHAR" property="stockLocation" />
    <result column="stock_location_en" jdbcType="VARCHAR" property="stockLocationEn" />
    <result column="delivery" jdbcType="VARCHAR" property="delivery" />
    <result column="delivery_en" jdbcType="VARCHAR" property="deliveryEn" />
    <result column="lead_time" jdbcType="VARCHAR" property="leadTime" />
    <result column="lead_time_en" jdbcType="VARCHAR" property="leadTimeEn" />
    <result column="price_term" jdbcType="VARCHAR" property="priceTerm" />
    <result column="price_term_en" jdbcType="VARCHAR" property="priceTermEn" />
    <result column="unit_price" jdbcType="DECIMAL" property="unitPrice" />
    <result column="panel_size" jdbcType="DOUBLE" property="panelSize" />
    <result column="panel_type" jdbcType="VARCHAR" property="panelType" />
    <result column="composition" jdbcType="VARCHAR" property="composition" />
    <result column="composition_en" jdbcType="VARCHAR" property="compositionEn" />
    <result column="resolution" jdbcType="VARCHAR" property="resolution" />
    <result column="mode" jdbcType="VARCHAR" property="mode" />
    <result column="mode_en" jdbcType="VARCHAR" property="modeEn" />
    <result column="surface" jdbcType="VARCHAR" property="surface" />
    <result column="surface_en" jdbcType="VARCHAR" property="surfaceEn" />
    <result column="brightness" jdbcType="VARCHAR" property="brightness" />
    <result column="contrast_ratio" jdbcType="VARCHAR" property="contrastRatio" />
    <result column="display_color" jdbcType="VARCHAR" property="displayColor" />
    <result column="response_time" jdbcType="VARCHAR" property="responseTime" />
    <result column="viewing_angle" jdbcType="VARCHAR" property="viewingAngle" />
    <result column="frequency" jdbcType="VARCHAR" property="frequency" />
    <result column="lamp_type" jdbcType="VARCHAR" property="lampType" />
    <result column="signal_type" jdbcType="VARCHAR" property="signalType" />
    <result column="application" jdbcType="VARCHAR" property="application" />
    <result column="application_en" jdbcType="VARCHAR" property="applicationEn" />
    <result column="file_url" jdbcType="VARCHAR" property="fileUrl" />
    <result column="images" jdbcType="VARCHAR" property="images" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, product_name, product_name_en, stock_id, brand, model, quality, quality_en, general_grade, 
    zbd_rate, rma_policy, quantity, moq, sample, sample_en, stock_location, stock_location_en, 
    delivery, delivery_en, lead_time, lead_time_en, price_term, price_term_en, unit_price, 
    panel_size, panel_type, composition, composition_en, resolution, mode, mode_en, surface, 
    surface_en, brightness, contrast_ratio, display_color, response_time, viewing_angle, 
    frequency, lamp_type, signal_type, application, application_en, file_url, images, 
    status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wfk_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wfk_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="wfk.process.dao.sql.entity.WFKProduct">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into wfk_product (product_name, product_name_en, stock_id, 
      brand, model, quality, 
      quality_en, general_grade, zbd_rate, 
      rma_policy, quantity, moq, 
      sample, sample_en, stock_location, 
      stock_location_en, delivery, delivery_en, 
      lead_time, lead_time_en, price_term, 
      price_term_en, unit_price, panel_size, 
      panel_type, composition, composition_en, 
      resolution, mode, mode_en, 
      surface, surface_en, brightness, 
      contrast_ratio, display_color, response_time, 
      viewing_angle, frequency, lamp_type, 
      signal_type, application, application_en, 
      file_url, images, status
      )
    values (#{productName,jdbcType=VARCHAR}, #{productNameEn,jdbcType=VARCHAR}, #{stockId,jdbcType=INTEGER}, 
      #{brand,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR}, #{quality,jdbcType=VARCHAR}, 
      #{qualityEn,jdbcType=VARCHAR}, #{generalGrade,jdbcType=VARCHAR}, #{zbdRate,jdbcType=VARCHAR}, 
      #{rmaPolicy,jdbcType=VARCHAR}, #{quantity,jdbcType=INTEGER}, #{moq,jdbcType=INTEGER}, 
      #{sample,jdbcType=VARCHAR}, #{sampleEn,jdbcType=VARCHAR}, #{stockLocation,jdbcType=VARCHAR}, 
      #{stockLocationEn,jdbcType=VARCHAR}, #{delivery,jdbcType=VARCHAR}, #{deliveryEn,jdbcType=VARCHAR}, 
      #{leadTime,jdbcType=VARCHAR}, #{leadTimeEn,jdbcType=VARCHAR}, #{priceTerm,jdbcType=VARCHAR}, 
      #{priceTermEn,jdbcType=VARCHAR}, #{unitPrice,jdbcType=DECIMAL}, #{panelSize,jdbcType=DOUBLE}, 
      #{panelType,jdbcType=VARCHAR}, #{composition,jdbcType=VARCHAR}, #{compositionEn,jdbcType=VARCHAR}, 
      #{resolution,jdbcType=VARCHAR}, #{mode,jdbcType=VARCHAR}, #{modeEn,jdbcType=VARCHAR}, 
      #{surface,jdbcType=VARCHAR}, #{surfaceEn,jdbcType=VARCHAR}, #{brightness,jdbcType=VARCHAR}, 
      #{contrastRatio,jdbcType=VARCHAR}, #{displayColor,jdbcType=VARCHAR}, #{responseTime,jdbcType=VARCHAR}, 
      #{viewingAngle,jdbcType=VARCHAR}, #{frequency,jdbcType=VARCHAR}, #{lampType,jdbcType=VARCHAR}, 
      #{signalType,jdbcType=VARCHAR}, #{application,jdbcType=VARCHAR}, #{applicationEn,jdbcType=VARCHAR}, 
      #{fileUrl,jdbcType=VARCHAR}, #{images,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="wfk.process.dao.sql.entity.WFKProduct">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into wfk_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productName != null">
        product_name,
      </if>
      <if test="productNameEn != null">
        product_name_en,
      </if>
      <if test="stockId != null">
        stock_id,
      </if>
      <if test="brand != null">
        brand,
      </if>
      <if test="model != null">
        model,
      </if>
      <if test="quality != null">
        quality,
      </if>
      <if test="qualityEn != null">
        quality_en,
      </if>
      <if test="generalGrade != null">
        general_grade,
      </if>
      <if test="zbdRate != null">
        zbd_rate,
      </if>
      <if test="rmaPolicy != null">
        rma_policy,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="moq != null">
        moq,
      </if>
      <if test="sample != null">
        sample,
      </if>
      <if test="sampleEn != null">
        sample_en,
      </if>
      <if test="stockLocation != null">
        stock_location,
      </if>
      <if test="stockLocationEn != null">
        stock_location_en,
      </if>
      <if test="delivery != null">
        delivery,
      </if>
      <if test="deliveryEn != null">
        delivery_en,
      </if>
      <if test="leadTime != null">
        lead_time,
      </if>
      <if test="leadTimeEn != null">
        lead_time_en,
      </if>
      <if test="priceTerm != null">
        price_term,
      </if>
      <if test="priceTermEn != null">
        price_term_en,
      </if>
      <if test="unitPrice != null">
        unit_price,
      </if>
      <if test="panelSize != null">
        panel_size,
      </if>
      <if test="panelType != null">
        panel_type,
      </if>
      <if test="composition != null">
        composition,
      </if>
      <if test="compositionEn != null">
        composition_en,
      </if>
      <if test="resolution != null">
        resolution,
      </if>
      <if test="mode != null">
        mode,
      </if>
      <if test="modeEn != null">
        mode_en,
      </if>
      <if test="surface != null">
        surface,
      </if>
      <if test="surfaceEn != null">
        surface_en,
      </if>
      <if test="brightness != null">
        brightness,
      </if>
      <if test="contrastRatio != null">
        contrast_ratio,
      </if>
      <if test="displayColor != null">
        display_color,
      </if>
      <if test="responseTime != null">
        response_time,
      </if>
      <if test="viewingAngle != null">
        viewing_angle,
      </if>
      <if test="frequency != null">
        frequency,
      </if>
      <if test="lampType != null">
        lamp_type,
      </if>
      <if test="signalType != null">
        signal_type,
      </if>
      <if test="application != null">
        application,
      </if>
      <if test="applicationEn != null">
        application_en,
      </if>
      <if test="fileUrl != null">
        file_url,
      </if>
      <if test="images != null">
        images,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productNameEn != null">
        #{productNameEn,jdbcType=VARCHAR},
      </if>
      <if test="stockId != null">
        #{stockId,jdbcType=INTEGER},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="quality != null">
        #{quality,jdbcType=VARCHAR},
      </if>
      <if test="qualityEn != null">
        #{qualityEn,jdbcType=VARCHAR},
      </if>
      <if test="generalGrade != null">
        #{generalGrade,jdbcType=VARCHAR},
      </if>
      <if test="zbdRate != null">
        #{zbdRate,jdbcType=VARCHAR},
      </if>
      <if test="rmaPolicy != null">
        #{rmaPolicy,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="moq != null">
        #{moq,jdbcType=INTEGER},
      </if>
      <if test="sample != null">
        #{sample,jdbcType=VARCHAR},
      </if>
      <if test="sampleEn != null">
        #{sampleEn,jdbcType=VARCHAR},
      </if>
      <if test="stockLocation != null">
        #{stockLocation,jdbcType=VARCHAR},
      </if>
      <if test="stockLocationEn != null">
        #{stockLocationEn,jdbcType=VARCHAR},
      </if>
      <if test="delivery != null">
        #{delivery,jdbcType=VARCHAR},
      </if>
      <if test="deliveryEn != null">
        #{deliveryEn,jdbcType=VARCHAR},
      </if>
      <if test="leadTime != null">
        #{leadTime,jdbcType=VARCHAR},
      </if>
      <if test="leadTimeEn != null">
        #{leadTimeEn,jdbcType=VARCHAR},
      </if>
      <if test="priceTerm != null">
        #{priceTerm,jdbcType=VARCHAR},
      </if>
      <if test="priceTermEn != null">
        #{priceTermEn,jdbcType=VARCHAR},
      </if>
      <if test="unitPrice != null">
        #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="panelSize != null">
        #{panelSize,jdbcType=DOUBLE},
      </if>
      <if test="panelType != null">
        #{panelType,jdbcType=VARCHAR},
      </if>
      <if test="composition != null">
        #{composition,jdbcType=VARCHAR},
      </if>
      <if test="compositionEn != null">
        #{compositionEn,jdbcType=VARCHAR},
      </if>
      <if test="resolution != null">
        #{resolution,jdbcType=VARCHAR},
      </if>
      <if test="mode != null">
        #{mode,jdbcType=VARCHAR},
      </if>
      <if test="modeEn != null">
        #{modeEn,jdbcType=VARCHAR},
      </if>
      <if test="surface != null">
        #{surface,jdbcType=VARCHAR},
      </if>
      <if test="surfaceEn != null">
        #{surfaceEn,jdbcType=VARCHAR},
      </if>
      <if test="brightness != null">
        #{brightness,jdbcType=VARCHAR},
      </if>
      <if test="contrastRatio != null">
        #{contrastRatio,jdbcType=VARCHAR},
      </if>
      <if test="displayColor != null">
        #{displayColor,jdbcType=VARCHAR},
      </if>
      <if test="responseTime != null">
        #{responseTime,jdbcType=VARCHAR},
      </if>
      <if test="viewingAngle != null">
        #{viewingAngle,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null">
        #{frequency,jdbcType=VARCHAR},
      </if>
      <if test="lampType != null">
        #{lampType,jdbcType=VARCHAR},
      </if>
      <if test="signalType != null">
        #{signalType,jdbcType=VARCHAR},
      </if>
      <if test="application != null">
        #{application,jdbcType=VARCHAR},
      </if>
      <if test="applicationEn != null">
        #{applicationEn,jdbcType=VARCHAR},
      </if>
      <if test="fileUrl != null">
        #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="images != null">
        #{images,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="wfk.process.dao.sql.entity.WFKProduct">
    update wfk_product
    <set>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productNameEn != null">
        product_name_en = #{productNameEn,jdbcType=VARCHAR},
      </if>
      <if test="stockId != null">
        stock_id = #{stockId,jdbcType=INTEGER},
      </if>
      <if test="brand != null">
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="quality != null">
        quality = #{quality,jdbcType=VARCHAR},
      </if>
      <if test="qualityEn != null">
        quality_en = #{qualityEn,jdbcType=VARCHAR},
      </if>
      <if test="generalGrade != null">
        general_grade = #{generalGrade,jdbcType=VARCHAR},
      </if>
      <if test="zbdRate != null">
        zbd_rate = #{zbdRate,jdbcType=VARCHAR},
      </if>
      <if test="rmaPolicy != null">
        rma_policy = #{rmaPolicy,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="moq != null">
        moq = #{moq,jdbcType=INTEGER},
      </if>
      <if test="sample != null">
        sample = #{sample,jdbcType=VARCHAR},
      </if>
      <if test="sampleEn != null">
        sample_en = #{sampleEn,jdbcType=VARCHAR},
      </if>
      <if test="stockLocation != null">
        stock_location = #{stockLocation,jdbcType=VARCHAR},
      </if>
      <if test="stockLocationEn != null">
        stock_location_en = #{stockLocationEn,jdbcType=VARCHAR},
      </if>
      <if test="delivery != null">
        delivery = #{delivery,jdbcType=VARCHAR},
      </if>
      <if test="deliveryEn != null">
        delivery_en = #{deliveryEn,jdbcType=VARCHAR},
      </if>
      <if test="leadTime != null">
        lead_time = #{leadTime,jdbcType=VARCHAR},
      </if>
      <if test="leadTimeEn != null">
        lead_time_en = #{leadTimeEn,jdbcType=VARCHAR},
      </if>
      <if test="priceTerm != null">
        price_term = #{priceTerm,jdbcType=VARCHAR},
      </if>
      <if test="priceTermEn != null">
        price_term_en = #{priceTermEn,jdbcType=VARCHAR},
      </if>
      <if test="unitPrice != null">
        unit_price = #{unitPrice,jdbcType=DECIMAL},
      </if>
      <if test="panelSize != null">
        panel_size = #{panelSize,jdbcType=DOUBLE},
      </if>
      <if test="panelType != null">
        panel_type = #{panelType,jdbcType=VARCHAR},
      </if>
      <if test="composition != null">
        composition = #{composition,jdbcType=VARCHAR},
      </if>
      <if test="compositionEn != null">
        composition_en = #{compositionEn,jdbcType=VARCHAR},
      </if>
      <if test="resolution != null">
        resolution = #{resolution,jdbcType=VARCHAR},
      </if>
      <if test="mode != null">
        mode = #{mode,jdbcType=VARCHAR},
      </if>
      <if test="modeEn != null">
        mode_en = #{modeEn,jdbcType=VARCHAR},
      </if>
      <if test="surface != null">
        surface = #{surface,jdbcType=VARCHAR},
      </if>
      <if test="surfaceEn != null">
        surface_en = #{surfaceEn,jdbcType=VARCHAR},
      </if>
      <if test="brightness != null">
        brightness = #{brightness,jdbcType=VARCHAR},
      </if>
      <if test="contrastRatio != null">
        contrast_ratio = #{contrastRatio,jdbcType=VARCHAR},
      </if>
      <if test="displayColor != null">
        display_color = #{displayColor,jdbcType=VARCHAR},
      </if>
      <if test="responseTime != null">
        response_time = #{responseTime,jdbcType=VARCHAR},
      </if>
      <if test="viewingAngle != null">
        viewing_angle = #{viewingAngle,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null">
        frequency = #{frequency,jdbcType=VARCHAR},
      </if>
      <if test="lampType != null">
        lamp_type = #{lampType,jdbcType=VARCHAR},
      </if>
      <if test="signalType != null">
        signal_type = #{signalType,jdbcType=VARCHAR},
      </if>
      <if test="application != null">
        application = #{application,jdbcType=VARCHAR},
      </if>
      <if test="applicationEn != null">
        application_en = #{applicationEn,jdbcType=VARCHAR},
      </if>
      <if test="fileUrl != null">
        file_url = #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="images != null">
        images = #{images,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="wfk.process.dao.sql.entity.WFKProduct">
    update wfk_product
    set product_name = #{productName,jdbcType=VARCHAR},
      product_name_en = #{productNameEn,jdbcType=VARCHAR},
      stock_id = #{stockId,jdbcType=INTEGER},
      brand = #{brand,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      quality = #{quality,jdbcType=VARCHAR},
      quality_en = #{qualityEn,jdbcType=VARCHAR},
      general_grade = #{generalGrade,jdbcType=VARCHAR},
      zbd_rate = #{zbdRate,jdbcType=VARCHAR},
      rma_policy = #{rmaPolicy,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=INTEGER},
      moq = #{moq,jdbcType=INTEGER},
      sample = #{sample,jdbcType=VARCHAR},
      sample_en = #{sampleEn,jdbcType=VARCHAR},
      stock_location = #{stockLocation,jdbcType=VARCHAR},
      stock_location_en = #{stockLocationEn,jdbcType=VARCHAR},
      delivery = #{delivery,jdbcType=VARCHAR},
      delivery_en = #{deliveryEn,jdbcType=VARCHAR},
      lead_time = #{leadTime,jdbcType=VARCHAR},
      lead_time_en = #{leadTimeEn,jdbcType=VARCHAR},
      price_term = #{priceTerm,jdbcType=VARCHAR},
      price_term_en = #{priceTermEn,jdbcType=VARCHAR},
      unit_price = #{unitPrice,jdbcType=DECIMAL},
      panel_size = #{panelSize,jdbcType=DOUBLE},
      panel_type = #{panelType,jdbcType=VARCHAR},
      composition = #{composition,jdbcType=VARCHAR},
      composition_en = #{compositionEn,jdbcType=VARCHAR},
      resolution = #{resolution,jdbcType=VARCHAR},
      mode = #{mode,jdbcType=VARCHAR},
      mode_en = #{modeEn,jdbcType=VARCHAR},
      surface = #{surface,jdbcType=VARCHAR},
      surface_en = #{surfaceEn,jdbcType=VARCHAR},
      brightness = #{brightness,jdbcType=VARCHAR},
      contrast_ratio = #{contrastRatio,jdbcType=VARCHAR},
      display_color = #{displayColor,jdbcType=VARCHAR},
      response_time = #{responseTime,jdbcType=VARCHAR},
      viewing_angle = #{viewingAngle,jdbcType=VARCHAR},
      frequency = #{frequency,jdbcType=VARCHAR},
      lamp_type = #{lampType,jdbcType=VARCHAR},
      signal_type = #{signalType,jdbcType=VARCHAR},
      application = #{application,jdbcType=VARCHAR},
      application_en = #{applicationEn,jdbcType=VARCHAR},
      file_url = #{fileUrl,jdbcType=VARCHAR},
      images = #{images,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>