<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="" three-size="keywords" content="WUFK地址,WUFK电话,WUFK电视客服电话,WUFK电邮">
    <meta name="" three-size="description" content="我们的联系信息业务分别为：商城购物咨询服务、公共联系信息、业务联系信息、海外业务联系信息、社交媒体平台。具体联系方式请关注WUFK官网。">
    <title>WUFK官网_产品中心</title>
    <link rel="stylesheet" href="library/bootstrap.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/media.css">
    <link rel="stylesheet" href="css/news.css">
    <style type="text/css">
        #data_base_id,.data_unit{display:none;}
        .thumbnail .label{
            font-weight:normal;
            padding: 1px;
        }
        .thumbnail p{
            font-size: 13px;
        }
        @media (min-width: 768px) {
            .thumbnail>img{height: 150px;}
        }

        @media (min-width: 992px) {
            .thumbnail>img{height: 200px;}
        }

        @media (min-width: 1200px) {
            .thumbnail>img{height: 200px;}
        }
    </style>
    <link rel="icon" href="/_images/favicon.ico">
    <style></style>
    <style>#data_base_id,.data_unit{display:none;}</style>
</head>

<body style="width: auto;">
    <h1 style="display:none;">产品中心</h1>
    <!--导航-->
    <div id="clear-nav" class="hidden-lg hidden-md hidden-sm" style="height: 90px; background: transparent none repeat scroll 0% 0%;"></div>
    <div id="header"></div><!-- 点击路径 -->
    <div class="container-fluid path">
        <div id="map" class="container  text-size" v-cloak>
            <a href="javascript:trackFn('index.html')">{{NAVI["首页"]}}</a>
            <span>&gt;</span> <a href="javascript:trackFn('products.html')">{{NAVI["产品中心"]}}</a>
            <span>&gt;</span> <a href="javascript:void(0)">{{NAVI[map[type]]}}</a>
        </div>
    </div>
    <div id="page-nav"></div>
    <div id="fixed-nav" class="container-fluid hidden-xs" style="top: -55px;" v-cloak>
        <div class="container">
            <ul class="list-unstyled list-inline">
                <li v-for="v in todos" class="text-size"><a :href="v.href">{{v.text}}</a></li>
            </ul>
        </div>
    </div>
    <div id="newsInformation" class="container latest-news newsData pctop pcbottom" v-cloak>
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-3" v-for="vv in infomationItems">
                <a class="thumbnail" :href="vv.href" style="text-decoration:none">
                    <img :src="vv.src">
                    <div class="caption">
                        <p>{{vv.text}}</p>
                        <p><span class="label label-default">{{vv.panelSize}}</span> <span class="label label-warning">{{vv.resolution}}</span></p>
                    </div>
                </a>
            </div>
        </div>
        <!-- <ul class="list-unstyled newCenterText text-size dynamic" v-cloak="">
            <li class="row" v-for="vv in infomationItems">
                <p class="col-md-12 col-sm-12 col-xs-12 title">
                    <a class="newsCenterLink" :href="vv.href" v-cloak="">{{vv.text}}</a>
                </p>
            </li>
        </ul> -->
        <div id="pagination3"></div>
    </div>
    <div class="include_template" lang="portal_about_template_part_component_1.html">
    </div><!-- 我们的业务文字 -->
    <div id="footer"></div>
    <div id="fixed" style="opacity: 1;"></div>
    <!--===========library============-->
    <script src="library/jQuery.2.4.1.min.js"></script>
    <script src="library/jquery.mobile.custom.min.js"></script>
    <script src="library/vue.min.js"></script>
    <script src="library/bootstrap.min.js"></script>
    <script src="core/var.js"></script>
    <!--公用-->
    <script src="js/common/common.js"></script>
    <!--头部导航及页尾数据-->
    <script src="js/common/headerData.js"></script>
    <script src="js/common/footerData.js"></script>
    <!--首页数据-->
    <script src="js/data/productList.js"></script>
    <!--页面逻辑-->
    <script src="js/logic/index.js"></script> 
    <script src="_scripts/constants.js" type="text/javascript"></script>
</body>
</html>